.main{
  width: 400px;
  height: 200px;
  margin: 0px auto
}

.circle{
  width: 200px;
  height: 200px;
  border-radius: 200px ;
  background-color: blue;
  float:left;
  text-align: center;
  line-height: 200px;
  
}
.anchor{
  color:antiquewhite;
  text-decoration:none
}
.shape30{
  margin-top:-30px
}
.shape60{
  margin-top:-60px
}